.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.tooltip-text {
    visibility: hidden;
    background-color: rgb(32, 32, 32);
    border: 1px solid white;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;

    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    /* white-space: nowrap; */
    max-width: 50%;
    white-space: normal; 
    word-wrap: break-word;

    z-index: 1500;
}
.tooltip-container:hover .tooltip-text {
    visibility: visible;
}
.task-entry {
    list-style: none;
}
.task-entry:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding-left: 20px;
}


